# speech to text and text to speech
realtimestt==0.3.104
realtimetts[kokoro,coqui,orpheus]==0.5.5

# ARI client
ari @ git+https://github.com/prasadvittaldev/ari-py

# configuration
python-dotenv

# llm providers
ollama
openai
